.container{
    composes: baseContainer from '../container.css';
    padding: 5px;
}
.blocksContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divider{
    width: 80%;
    margin: 10px 10% 30px 10% !important;
}
.baseBlock{
    height: 150px;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
}

.idBlock{
    composes: baseBlock;
    width: 100px;
}

.nameBlock{
    composes: baseBlock;
    width: 500px;
}

.timeBlock {
    composes: baseBlock;
    width: 200px;
}
